*{
	margin: 0;
	padding: 0;
}
body{
	background: black;
	height: 100%;
	overflow: hidden;
}
/*外框*/
#frame{
	background: #fff;
	border-radius: 20px;
	height: 500px;
	width: 60%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
/*每一个圆圈*/
.yuan{
	border: 1px solid;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: inline-block;
	margin: 20px;
}
/*内框的表格*/
#frameInner table{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
	text-align: center;
}
/*提示文字区*/
#text{
	top: 150px;
	width: 90%;
	left: 5%;
	right: 5%;
	text-align: center;
}
.line{
	background: black;
	width: 10px;
	height: 100px;
	
	top:0;
	left: 0;
}
/*单选按钮区*/
#type{
	top: 80px;
	width: 90%;
	left: 5%;
	right: 5%;
	text-align: center;
}

#frameInner{
	width: 90%;
	left: 5%;
	right: 5%;
}
#head{
	left: 0;
	right: 0;
	padding:5px;
	border-bottom: 1px solid gray;
	border-radius: 20px 20px 0 0;
	background: #FAFAFA;
}
#head p{
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}