*{
	margin: 0;
	padding: 0;
}
body{
	background: #eee;
}
/*外框*/
#frame{
	background: #fff;
	border-radius: 20px;
	height: 500px;
	width: 60%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
/*每一个圆圈*/
.yuan{
	border: 1px solid;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: inline-block;
	margin: 20px;
}
/*内框的表格*/
#frameInner table{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
	text-align: center;
}
/*提示文字区*/
#text{
	top: 50px;
	left: 20px;
	right: 20px;
}
.line{
	background: black;
	width: 10px;
	height: 100px;
	
	top:0;
	left: 0;
}
/*单选按钮区*/
#type{
	right: 10px;
	top: 10px;
}

/*移动设备样式*/
@media only screen and (max-device-width: 500px)  {
	body{
		font-size: 48px;
	}
	input{
		height: 48px;
		width: 48px;
	}
	#frame{
		border-radius: 50px;
		height: 1200px;
		width: 90%;
		margin-top: 80px;
	}
	.yuan{
		border: 2px solid;
		width: 100px;
		height: 100px;
		margin: 30px;
	}
	#frameInner table{
		padding-top: 500px;
	}
	#text{
		top: 220px;
		left: 80px;
		right: 80px;
	}
	.line{
		background: black;
		width: 10px;
		height: 100px;
		
		top:0;
		left: 0;
	}
	#type{
		left: 10px;
		right: 10px;
		top: 30px;
		text-align: center;
	}
}