/*移动设备样式*/
@media only screen and (max-device-width: 500px)  {
	body{
		font-size: 48px;
	}
	input{
		height: 48px;
		width: 48px;
	}
	#frame{
		border-radius: 10px;
		height: 1350px;
		width: 90%;
		margin-top: 10px;
	}
	.yuan{
		border: 2px solid;
		width: 100px;
		height: 100px;
		margin: 30px;
	}
	#frameInner{
		top: 300px;
		width: 90%;
		left: 5%;
		right: 5%;
	}
	#frameInner table{
		padding-top: 500px;
	}
	#text{
		top: 280px;
		left: 80px;
		right: 80px;
	}
	.line{
		background: black;
		width: 10px;
		height: 100px;
		
		top:0;
		left: 0;
	}
	#type{
		left: 10px;
		right: 10px;
		top: 30px;
		text-align: center;
	}
	
	
	#head{
		left: 0;
		right: 0;
		padding:20px;
		border-bottom: 1px solid gray;
		background: #FAFAFA;
		border-radius: 10px 10px 0 0;
	}
	#head p{
		font-size: 60px;
		line-height: 80px;
		text-align: center;
		margin-top: 100px;
		margin-bottom: 30px;
	}
}




